body {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4xxLRZYHve_DvpvkiC65t30y3Bcb6SmvNxg&s");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

p {
  color: black;
}

a {
  color: #81a75c;
  font-family: Garamond;
}

.box {
  align-self: auto;

  padding: 10px;
  margin: 50px;
  align-content: center;
  background-color: rgba(0, 0, 0, 0.58);
  border-radius: 67px;
}

.subBox1 {
  align-self: center;
  padding: 40px;
  margin: 50px;
  margin-left: 200px;
  margin-right: 10px;
  align-content: center;
  background-color: rgba(0, 0, 0, 0.58);
  border-radius: 67px;
}

.subBox2 {
  align-self: center;
  padding: 40px;
  margin: 50px;
  margin-left: 10px;
  margin-right: 200px;
  align-content: center;
  background-color: rgba(0, 0, 0, 0.58);
  border-radius: 67px;
}

h1 {
  font-weight: bold;
  font-family: Garamond;
  font-size: 100px;
  color: #81a75c;
  text-align: center;
  opacity: 100%;
  padding: 50px;
}

h2 {
  font-weight: bold;
  font-family: Garamond;
  font-size: 75px;
  color: #81a75c;
  text-align: center;
  opacity: 100%;
}

h3 {
  font-weight: bold;
  font-family: Garamond;
  font-size: 45px;
  color: #81a75c;
  text-align: center;
  opacity: 100%;
}

h4 {
  font-weight: bold;
  font-family: monospace;
  font-size: 20px;
  color: aliceblue;
  text-align: left;
  opacity: 100%;
}

h5 {
  font-weight: bold;
  font-family: monospace;
  font-size: 50px;
  color: aliceblue;
  text-align: center;
  opacity: 100%;
}
